
html {
    background: #c6239e;
    background: -webkit-linear-gradient(0deg, #c6239e 0%, #989649 100%);
    background: linear-gradient(0deg, #c6239e 0%, #989649 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Sofia Sans', sans-serif;
    min-height: 100vh;
}


main {
    padding: 16px;
    /* align-items: center; */
    z-index: 1;
}

.main-div-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    background-color: greenyellow;
}

img {
    height: 200px;
    border-radius: 25% 25% 25% 25% / 25% 25% 25% 25%;
    -webkit-box-shadow: 3px 3px 10px 3px #000000;
    -moz-box-shadow: 3px 3px 10px 3px #000000;
    box-shadow: 3px 3px 10px 3px #000000;

}

img:hover {
    scale: 1.3;
    transition: .2s;
    box-shadow: none;
}

nav {
    padding: 16px;
    border-bottom: 1px solid black;
    background-color: rgba(255, 68, 0, 0.674);
    /* background-image: url('./wave.svg'); */
}

a {
    text-decoration: none;
    color: rgb(34, 215, 215);
}

 a:hover {
    scale: 1.3;
    transition: .2s;
}

/* .rating {
    margin-top: 10%;
    text-align: center;
} */

.wave {
    z-index: -1;
    background-position: center;
}

/* .link {
    text-align: center;
    display: flex;
} */
div {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
}

/* h1  {
    text-align: center;
} */

.table-style tr:nth-child(even) {
        background-color: #f2f2f2;
}
